.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e161d;
}

.cardInicial {
    background: #a3c9e9;
    border-radius: .5rem;
    padding: 1.5rem 1rem;
}

.cardInicial span {
    border-bottom: 1px solid #0560aa;
    color: #0560aa;
    cursor: pointer;
}

.ocultar {
    display: none;
}

/* pagina colaborador.php */

#mainColaborador {
    padding: 0 1rem;
}

#dadosPerfil p {
    font-weight: 700;
}

#dadosPerfil span {
    font-weight: 300;
}

#selecionarTurma .card {
    height: 10rem;
    background-color: #8db6d8;
}

.containerContadorAlunos {
    width: 100%;
    height: 9.9rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.conteudoCardAalunos {
    display: flex;
}

.conteudoCardAalunos select {
    height: 2.5em;
}

.cardContadorAlunos {
    height: 7em;
    width: 15em;
    background: #487ead;
    border-radius: .8rem;
    padding: .8rem;
    display: grid;
    place-items: center;
}

#tabelaTurma {
    margin-top: .5rem;
}

#selecionarTurma #turma {
    width: 15rem;
    outline: none;
    margin: .5rem;
    border-radius: .2rem;
    padding: .5rem;
    cursor: pointer;
}